<div ng-cloak>
    <div class="row">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Popular Music">
                    <md-content class="md-padding poster-music" ng-controller="PosterController">
                        <poster-music></poster-music>
                    </md-content>
                </md-tab>

                <md-tab label="Жанры">
                    <md-content class="md-padding">
                        <div class="" ng-controller="GenreController">
                            <h1 class="md-display-2">Жанры</h1>
                            <div class="genre" ng-repeat="genre in genres track by genre.id">
                                {{genre.name}}
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Исполнители">
                    <md-content class="md-padding">
                        <div class="" ng-controller="ArtistController">
                        <h1 class="md-display-2">Исполнители</h1>
                            <div class="genre" ng-repeat="artist in artists track by artist.id">
                                {{artist.name}}
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Альбомы">
                    <md-content class="md-padding">
                        <div class="" ng-controller="AlbumController">
                            <h1 class="md-display-2">Исполнители</h1>
                            <div class="genre" ng-repeat="album in albums track by album.id">
                                {{album.name}}
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Загрузка">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Загрузка</h1>
                        <div class="row" ng-controller="UploadController">
                            <form method="POST" enctype="multipart/form-data">
                                Please select a file to upload : <input id="file" type="file" name="file" multiple/>
                                <input type="submit" value="upload" ng-click="uploadFile()"/>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
